<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>af</string>
		<key>engName</key>
		<string>Afrikaans</string>
		<key>orgName</key>
		<string>Afrikaans</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sq</string>
		<key>engName</key>
		<string>Albanian</string>
		<key>orgName</key>
		<string>Shqip/Shqiptar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ar</string>
		<key>engName</key>
		<string>Arabic</string>
		<key>orgName</key>
		<string>اللغة العربية</string>
	</dict>
	<dict>
		<key>code</key>
		<string>az</string>
		<key>engName</key>
		<string>Azerbaijani</string>
		<key>orgName</key>
		<string>Azərbaycanca</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eu</string>
		<key>engName</key>
		<string>Basque</string>
		<key>orgName</key>
		<string>Euskara</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bn</string>
		<key>engName</key>
		<string>Bengali</string>
		<key>orgName</key>
		<string>বাংলা</string>
	</dict>
	<dict>
		<key>code</key>
		<string>be</string>
		<key>engName</key>
		<string>Belarusian</string>
		<key>orgName</key>
		<string>Беларуская</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bg</string>
		<key>engName</key>
		<string>Bulgarian</string>
		<key>orgName</key>
		<string>български език</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ca</string>
		<key>engName</key>
		<string>Catalan</string>
		<key>orgName</key>
		<string>Català</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zh-CN</string>
		<key>engName</key>
		<string>Chinese Simplified</string>
		<key>orgName</key>
		<string>中国简体</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zh-TW</string>
		<key>engName</key>
		<string>Chinese Traditional</string>
		<key>orgName</key>
		<string>中国传统的</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hr</string>
		<key>engName</key>
		<string>Croatian</string>
		<key>orgName</key>
		<string>Hrvatski</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cs</string>
		<key>engName</key>
		<string>Czech</string>
		<key>orgName</key>
		<string>Čeština</string>
	</dict>
	<dict>
		<key>code</key>
		<string>da</string>
		<key>engName</key>
		<string>Danish</string>
		<key>orgName</key>
		<string>Dansk</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nl</string>
		<key>engName</key>
		<string>Dutch</string>
		<key>orgName</key>
		<string>Nederlands</string>
	</dict>
	<dict>
		<key>code</key>
		<string>en</string>
		<key>engName</key>
		<string>English</string>
		<key>orgName</key>
		<string>English</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eo</string>
		<key>engName</key>
		<string>Esperanto</string>
		<key>orgName</key>
		<string>Esperanto</string>
	</dict>
	<dict>
		<key>code</key>
		<string>et</string>
		<key>engName</key>
		<string>Estonian</string>
		<key>orgName</key>
		<string>Eesti</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tl</string>
		<key>engName</key>
		<string>Filipino</string>
		<key>orgName</key>
		<string>Wikang Filipino</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fi</string>
		<key>engName</key>
		<string>Finnish</string>
		<key>orgName</key>
		<string>Suomi</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fr</string>
		<key>engName</key>
		<string>French</string>
		<key>orgName</key>
		<string>Français</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gl</string>
		<key>engName</key>
		<string>Galician</string>
		<key>orgName</key>
		<string>Galego</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ka</string>
		<key>engName</key>
		<string>Georgian</string>
		<key>orgName</key>
		<string>ქართული</string>
	</dict>
	<dict>
		<key>code</key>
		<string>de</string>
		<key>engName</key>
		<string>German</string>
		<key>orgName</key>
		<string>Deutsch</string>
	</dict>
	<dict>
		<key>code</key>
		<string>el</string>
		<key>engName</key>
		<string>Greek</string>
		<key>orgName</key>
		<string>Ελληνικά</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gu</string>
		<key>engName</key>
		<string>Gujarati</string>
		<key>orgName</key>
		<string>ગુજરાતી</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ht</string>
		<key>engName</key>
		<string>Haitian Creole</string>
		<key>orgName</key>
		<string>Kreyòl Ayisyen</string>
	</dict>
	<dict>
		<key>code</key>
		<string>iw</string>
		<key>engName</key>
		<string>Hebrew</string>
		<key>orgName</key>
		<string>עברית</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hi</string>
		<key>engName</key>
		<string>Hindi</string>
		<key>orgName</key>
		<string>हिन्दी</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hu</string>
		<key>engName</key>
		<string>Hungarian</string>
		<key>orgName</key>
		<string>Magyar</string>
	</dict>
	<dict>
		<key>code</key>
		<string>is</string>
		<key>engName</key>
		<string>Icelandic</string>
		<key>orgName</key>
		<string>Íslenska</string>
	</dict>
	<dict>
		<key>code</key>
		<string>id</string>
		<key>engName</key>
		<string>Indonesian</string>
		<key>orgName</key>
		<string>Bahasa Indonesia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ga</string>
		<key>engName</key>
		<string>Irish</string>
		<key>orgName</key>
		<string>Gaeilge</string>
	</dict>
	<dict>
		<key>code</key>
		<string>it</string>
		<key>engName</key>
		<string>Italian</string>
		<key>orgName</key>
		<string>Italiano</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ja</string>
		<key>engName</key>
		<string>Japanese</string>
		<key>orgName</key>
		<string>日本人</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kn</string>
		<key>engName</key>
		<string>Kannada</string>
		<key>orgName</key>
		<string>ಕನ್ನಡ</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ko</string>
		<key>engName</key>
		<string>Korean</string>
		<key>orgName</key>
		<string>한국어</string>
	</dict>
	<dict>
		<key>code</key>
		<string>la</string>
		<key>engName</key>
		<string>Latin</string>
		<key>orgName</key>
		<string>Latina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lv</string>
		<key>engName</key>
		<string>Latvian</string>
		<key>orgName</key>
		<string>Latviešu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lt</string>
		<key>engName</key>
		<string>Lithuanian</string>
		<key>orgName</key>
		<string>Lietuvių</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mk</string>
		<key>engName</key>
		<string>Macedonian</string>
		<key>orgName</key>
		<string>Mакедонски</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ms</string>
		<key>engName</key>
		<string>Malay</string>
		<key>orgName</key>
		<string>بهاس ملايو/Melayu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mt</string>
		<key>engName</key>
		<string>Maltese</string>
		<key>orgName</key>
		<string>Malti</string>
	</dict>
	<dict>
		<key>code</key>
		<string>no</string>
		<key>engName</key>
		<string>Norwegian</string>
		<key>orgName</key>
		<string>Norsk</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fa</string>
		<key>engName</key>
		<string>Persian</string>
		<key>orgName</key>
		<string>فارسی</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pl</string>
		<key>engName</key>
		<string>Polish</string>
		<key>orgName</key>
		<string>Polski</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pt</string>
		<key>engName</key>
		<string>Portuguese</string>
		<key>orgName</key>
		<string>Português</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ro</string>
		<key>engName</key>
		<string>Romanian</string>
		<key>orgName</key>
		<string>Română</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ru</string>
		<key>engName</key>
		<string>Russian</string>
		<key>orgName</key>
		<string>Русский</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sr</string>
		<key>engName</key>
		<string>Serbian</string>
		<key>orgName</key>
		<string>српски</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sk</string>
		<key>engName</key>
		<string>Slovak</string>
		<key>orgName</key>
		<string>Slovenčina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sl</string>
		<key>engName</key>
		<string>Slovenian</string>
		<key>orgName</key>
		<string>Slovenščina</string>
	</dict>
	<dict>
		<key>code</key>
		<string>es</string>
		<key>engName</key>
		<string>Spanish</string>
		<key>orgName</key>
		<string>Español</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sw</string>
		<key>engName</key>
		<string>Swahili</string>
		<key>orgName</key>
		<string>Kiswahili</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sv</string>
		<key>engName</key>
		<string>Swedish</string>
		<key>orgName</key>
		<string>Svenska</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ta</string>
		<key>engName</key>
		<string>Tamil</string>
		<key>orgName</key>
		<string>தமிழ்</string>
	</dict>
	<dict>
		<key>code</key>
		<string>te</string>
		<key>engName</key>
		<string>Telugu</string>
		<key>orgName</key>
		<string>తెలుగు</string>
	</dict>
	<dict>
		<key>code</key>
		<string>th</string>
		<key>engName</key>
		<string>Thai</string>
		<key>orgName</key>
		<string>ไทย</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tr</string>
		<key>engName</key>
		<string>Turkish</string>
		<key>orgName</key>
		<string>Türkçe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>uk</string>
		<key>engName</key>
		<string>Ukrainian</string>
		<key>orgName</key>
		<string>український</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ur</string>
		<key>engName</key>
		<string>Urdu</string>
		<key>orgName</key>
		<string>اردو</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vi</string>
		<key>engName</key>
		<string>Vietnamese</string>
		<key>orgName</key>
		<string>tiếng Việt</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cy</string>
		<key>engName</key>
		<string>Welsh</string>
		<key>orgName</key>
		<string>Cymraeg</string>
	</dict>
	<dict>
		<key>code</key>
		<string>yi</string>
		<key>engName</key>
		<string>Yiddish</string>
		<key>orgName</key>
		<string>ייִדיש</string>
	</dict>
</array>
</plist>
